<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
<h2>Recipes</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Cook Time</th>
        <th>Prep Time</th>
        <th>Servings</th>
        <th>Difficulty</th>
        <th>Category</th>
    </tr>
    <tr th:each="recipe: ${recipes}">
        <td th:text="${recipe.description}">a food</td>
        <td th:text="${recipe.cookTime}">1000 hours</td>
        <td th:text="${recipe.prepTime}">58 minutes</td>
        <td th:text="${recipe.servings}">78</td>
        <td th:text="${recipe.difficulty}">foolishly hard</td>
        <td th:text="${recipe.categories}">pigs feet</td>
    </tr>
</table>
</body>
</html>